@page
@model WebUI.Pages.IndexModel
@{
    ViewData["Title"] = "Haberler";
}

<h1>Haberler</h1>

<form method="get">
    <input type="text" name="query" placeholder="Arama Yap" value="@HttpContext.Request.Query["query"]" />
    <button type="submit">Ara</button>
</form>


<form method="post">
    <button type="submit">Veri Çek ve Kaydet</button>
</form>


@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div style="color:red; margin-top:10px;">@Model.ErrorMessage</div>
}


@if (Model.Articles != null && Model.Articles.Count > 0)
{
    <h2>Makale Listesi</h2>
    <ul>
        @foreach (var article in Model.Articles)
        {
            <li>
                <a href="@article.Url" target="_blank">@article.Title</a>
                <small>(Yayın Tarihi: @article.PublishDate.ToString("yyyy-MM-dd HH:mm"))</small>
            </li>
        }
    </ul>
}
else
{
    <p>Henüz veri bulunmamaktadır.</p>
}
